// General
$text: black;
$bg: white;
$border-radius: 4px;

// Main Colours
$primary: #257f9e;
$primary-light: #eef8fb;
$highlight: #61bddb;
$shadow: #dadbdd;
$shadow-light: #ededed;

// States
$success: #30864d;
$success-bg: #f0faf3;
$error: #e15b63;
$error-bg: #fceeef;
