@use "./common/styles/vars.scss" as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg;
  color: $text;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  color: inherit;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}
